spring:
  application:
    name: clinic-appointment-system
  
  datasource:
    url: jdbc:mysql://localhost:3306/clinic_booking_db?useSSL=false&serverTimezone=Asia/Tokyo&characterEncoding=UTF-8
    username: root
    password: 1126
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    encoding: UTF-8
    cache: false
    mode: HTML
  
  security:
    user:
      name: admin
      password: admin

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.unknownclinic.appointment.domain
  configuration:
    map-underscore-to-camel-case: true

server:
  port: 8080
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true

logging:
  level:
    com.unknownclinic.appointment: DEBUG
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
